<a href="https://colab.research.google.com/github/francescacavallo/data_analysis_beginners_course/blob/main/lesson_1_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ“˜ Python Basics for Absolute Beginners

Welcome! This notebook covers:
1. Variables
2. Data Types
3. Data Structures (Lists, Tuples, Dictionaries, Sets)


## 1. Variables

In [6]:
# A variable is like a labelled box that holds data
name = "Alex"
age = 25
height = 5.6

# You can use the print function to show the content of that "box"
print(name)
print(age)
print(height)

Alex
25
5.6

In [7]:
# You can reassign variables by changing the value on the left of the "=" sign
age = 26
print("Updated age:", age)

Updated age: 26

## Data types

Common data types in Python:
- str: text
- int: whole numbers
- float: decimal numbers
- bool: True or False

In [23]:
# A variable can hold different types of data
# We classify data based on their types
# The most basic data types are integers, floats, strings, and bools

example_integer = 1
example_float = 0.4
example_string = "word"
example_bool = True

print(f"{example_integer = }")
print(f"{example_float = }")
print(f"{example_string = }")
print(f"{example_bool = }")

example_integer = 1
example_float = 0.4
example_string = 'word'
example_bool = True

In [24]:
# Check a variableâ€™s type using `type()`
print(f"{type(example_integer) = }")
print(f"{type(example_float) = }")
print(f"{type(example_string) = }")
print(f"{type(example_bool) = }")

type(example_integer) = <class 'int'>
type(example_float) = <class 'float'>
type(example_string) = <class 'str'>
type(example_bool) = <class 'bool'>

# 3: Data Structures
Data can be held in structures, which are ways to store multiple items. You can think of them as are collections of values.

Two very common collections in python are lists and dictionaries.

### Lists
Ordered, changeable (mutable), allows duplicates

In [9]:
fruits = ["apple", "banana", "orange"]
print(fruits)

['apple', 'banana', 'orange']
banana
['apple', 'banana']
['apple', 'banana', 'orange', 'grape']
['apple', 'orange', 'grape']

In [14]:
# Access elements by index. For example, select the element at index (or position) 1
print(fruits[1])

orange

In [15]:
# To access multiple elements, use ":"
print(fruits[0:2]) # selects items from index 0 to 1

['apple', 'orange']

In [16]:
# Use append to add items at the end of the list
fruits.append("grape")
print(fruits)

['apple', 'orange', 'grape', 'grape']

In [18]:
# Use remove to remove a specific item
fruits.remove("apple")
print(fruits)

['orange', 'grape', 'grape']

### Dictionaries
Key-value pairs, unordered, mutable

In [10]:
person = {
    "name": "Alice", # the key is 'name', the value is 'Alice'
    "age": 26,
    "is_student": True
}

print(person)

Alice
{'name': 'Alice', 'age': 27, 'is_student': True, 'favourite_fruits': ['bananas', 'apples', 'oranges']}

In [19]:
# Use the key to access values
print(person["name"])

Alice

In [21]:
# Use the key to update values
person["age"] = 27
print(person["age"])

27

In [22]:
# Dictionaries can contain other structures, like lists
person["favourite_fruits"] = ['bananas', 'apples', 'oranges']
print(person)

{'name': 'Alice', 'age': 27, 'is_student': True, 'favourite_fruits': ['bananas', 'apples', 'oranges']}

## Exercise

In [11]:
# Try adding code to the instructions below:

# Assign your name to the variable "my_name"
# Assign your age to the variable "my_age"
# Print the data types of the 2 variables
# Create a dictionary called "myself" and add 4 keys of your choice